body {
  color: #0F3460;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #5F6F94;
  font-size: 3rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #E94560;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #533483;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

hr {
  border: dotted #25316D 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #5F6F94;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #FEF5AC;
}

.my-name {
  background-color: #EEE3CB;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.uinfo {
  font-size: 2.3rem;
  padding-top: 15px;
}

.info-part {
  background-color: #D7C0AE;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-part {
  background-color: #B7C4CF;
  padding: 50px 0 20px;
}

.ac-exp {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.ai-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.os-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.clab-img {
  width: 20%;
  float: right;
  margin-right: 30px;
}

.python-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.linux-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.git-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.other-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.english-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.office-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.latex-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.ac-explain {
  text-align: center;
}